.first {
    background: #8cb27c;
    height: auto;
    width: 760px;
    float: left;
    position: relative;
}

.second {
    background: #8cb27c;
    height: 380px;
    margin: 15px;
    border: 5px solid white;
    box-sizing: border-box;
}

.circle {
    background: #8cb27c;
    height: 145px;
    width: 145px;
    margin: 115px 275px;
    border: 5px solid white;
    border-radius: 100px;
    position: absolute;
}

.left {
    background: #8cb27c;
    height: 145px;
    width: 83px;
    margin: 115px -5px;
    border: 5px solid white;
    position: absolute;
}

.right {
    background: #8cb27c;
    height: 145px;
    width: 83px;
    margin: 115px 0px 0px 632px;
    border: 5px solid white;
    position: absolute;
}

.one {
    width: 20px;
    padding: 122px 0px 100px 72px;
    position: absolute;
}

.two {
    width: 20px;
    padding: 35px 0px 100px 375px;
    position: absolute;
}

.three {
    width: 20px;
    padding: 225px 0px 100px 608px;
    position: absolute;
}

